

    <head>    
        <title>TIPSY</title>
        <meta charset="UTF-8"/>
        
 </head>
    <body>
    <div>{{firstname}}</div>
     
    <div>{{tagline}}</div>
    
    <div id="displayPic"> {{profilepic}}</div>
    
    
    </body>
    </html>