

    <head>    
        <title>TIPSY</title>
        <meta charset="UTF-8"/>
        
 </head>
    <body>
    <div>{{name}}</div>
     
    <div>{{tag}}</div>
    
    {{!-- <div id="displayPic"> {{profilepic}}</div> --}}
    
    
    </body>
    </html>