<!DOCTYPE html>
<html lang="en">
    <head>    
        <title>Find Maddy</title>
        <meta charset="UTF-8"/>
        <script src="server.js"></script>
    </head>

    <body>
        <form name="profile" method="post" action="/displayPage"  accept-charset="UTF-8" >
            First name:
        <input name="firstname" type="text"><br>
            Last name:
        <input name="lastname" type="text"><br>
            Tag line: 
        <input name="tagline" type="text" ><br>
            Email:
        <input name="email" type="text"><br>
            Profile picture: 
        <input id="profilepic" type="file"><br>
        <input type="submit" onClick="" value="Let's go!"/>
        </form>

    </body>
</html>