    <head>    
        <title>TIPSY</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
    <center><h1> TIPSY </h1><br>
    <h3>Who are you?</h3> 
    
    <a href='/profiles/1/'><img src='{{profilepic}}' width="200px">
        </a>
    <br>
    <a href='/profiles/1/'><button>Libby</button>
        </a>
    <br>
    <br>
    <br>
    <button><a href='/user/new/'>Add new user</a></button>
    </center>
    </body>
    </html>