    <head>    
        <title>Tipsy</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <center>
        <h3>Welcome to Tipsy</h3>
        <br>
        <form name="profile" method="post" action="/user/new"  accept-charset="UTF-8" >
            First name:<br>
        <input name="firstname" type="text"><br>
            Last name:<br>
        <input name="lastname" type="text"><br>
            Tag line:  <br>
        <input name="tagline" type="text" ><br>
            Language:<br><br>
            <input name="language" id="english" value="english" type="checkbox"> English<br>
            <input name="language" id="spanish" value="spanish" type="checkbox"> Spanish<br>
            <input name="language" id="te_reo" value="te_reo" type="checkbox"> Te reo Māori<br>
       <br>
            Email:<br>
        <input name="email" type="text"><br>
            Profile picture URL: <br>
        <input name="profilepic" type="text"><br>
        <input type="submit" onClick="" value="Let's go!"/>
        </form>
        </center>
    </body>
