    <head>    
        <title>Tipsy</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <form name="profile" method="post" action="/user/new"  accept-charset="UTF-8" >
            First name:
        <input name="firstname" type="text"><br>
            Last name:
        <input name="lastname" type="text"><br>
            Tag line:  
        <input name="tagline" type="text" ><br>
            Language:
            <input type= "radio" value="english">English
            <input type= "radio" value="spanish">Spanish
            <input type= "radio" value="te_reo">Te reo Maori
        </select><br>
            Email:
        <input name="email" type="text"><br>
            Profile picture URL: 
        <input id="profilepic" type="text"><br>
        <input type="submit" onClick="" value="Let's go!"/>
        </form>

    </body>
